.pc-carousel-section{
    width: 100%;
    padding: 30px 60px;
}

.pc-carousel-section .pc-carousel-wrapper{
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.pc-carousel-contents{
    display: flex;
    justify-content: space-between;
}

.pc-carousel-contents .pc-carousel-link{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary-500);
    text-decoration: none;
    transition: all 0.2s ease;
}

.pc-carousel-contents .pc-carousel-link:hover{
    color: var(--color-primary-700);

}

.pc-carousel-section .pc-carousel-track{
    padding: 10px 0;
    display: flex;
    overflow-x: scroll;
}

.pc-carousel-section .pc-carousel-track::-webkit-scrollbar{
    display: none;
}

.pc-carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.753);
    padding: 15px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
}

.pc-carousel-btn:disabled{
    opacity: 0.5; 
      cursor: not-allowed; 
      pointer-events: none;
}

.pc-carousel-btn:hover{
    background-color: rgb(238, 238, 238);
}

.pc-carousel-left-btn {
  left: -50px;
}

.pc-carousel-right-btn{
 right: -50px;
}
