.cart-icon {
    position: relative;
}

.cart-icon .cart-icon-couter {
    position: absolute;
    top: -12px;
    right: -15px;
    z-index: 999;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(255, 61, 61);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
