.course-cart-card {
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgba(128, 128, 128, 0.241);
    display: flex;
    gap: 20px;
}

.course-cart-card > img {
    width: clamp(200px, 30vw, 300px);
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.course-cart-card .cart-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-card-content .cart-card-header > h2 {
    font-size: clamp(1.1rem, 50vw, 1.3rem);
    margin-bottom: 7px;
}

.cart-card-content .cart-card-header p {
    font-size: 1.2rem;
    color: var(--color-text-secondary);
}

.cart-card-content .c-b-container {
    display: flex;
    justify-content: space-between;
}

.course-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c-b-container > p {
    color: var(--color-text-primary);
    font-size: 1.7rem;
    font-weight: bold;
}

.c-b-container .remove-btn {
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid red;
    color: red;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.c-b-container .remove-btn:hover {
    color: white;
    background-color: red;
    transform: translateY(-3px);
}

.c-b-container .remove-btn:active {
    transform: translateY(0);
}

@media (min-width: 750px) {
    .course-cart-card > img {
        width: clamp(150px, 20vw, 300px);
    }
}
