.course-card {
    max-width: 100%;
    min-height: 450px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.course-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.2);
    border: 1px solid rgb(156, 156, 156);
}

.course-card .img-layer {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.img-layer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.img-layer > img:hover {
    transform: scale(1.1);
}

.course-content-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.course-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
}

.course-content .course-title {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.course-content .course-instructor {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.course-content .course-rating {
    font-size: 1rem;
    font-weight: bold;
}

.course-content .course-price {
    font-size: 1.6rem;
    font-weight: bold;
}

.course-content-container .course-card-btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-primary-600);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text-inverse);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.course-content-container .course-card-btn:hover {
    transform: translateY(-3px);
}

.course-content-container .course-card-btn:active {
    transform: translateY(0);
}

.course-card-Link {
    color: inherit;
    text-decoration: none;
}
