.header{
    background-color: var(--color-primary-500);
    height: 120px;
    width: 100%;
}

.header .header-wrapper{
    width: 100%;
    height: 100%;
   max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--color-text-inverse)
}

.header .logo{
    cursor: pointer;
    font-size: 2rem;
    line-height: 2.2rem;
}

.header a{
    text-decoration: none;
    color: var(--color-text-inverse);
}

.header nav .nav-item{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px;
    margin: 0 1rem;
    color: all 0.3s ease-in-out;
}

.header nav .nav-item:hover{
    color: var(--color-text-primary);
}

.nav-item.active{
    border-bottom: 3px solid var(--color-text-inverse);
}

.header .search-container{
    display: none;
}

.header .profile-container{
    display: flex;
    gap: 1.4rem;
}

.profile-container .nav-btn{
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
