.header {
    position: fixed;
    background-color: var(--color-primary-500);
    height: 56px;
    width: 100%;
    z-index: 100;
}

.header .header-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--color-text-inverse);
}

.header-wrapper .logo-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header .logo {
    cursor: pointer;
    font-size: 2rem;
    line-height: 2.2rem;
}

.header .nav-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 8px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border: 3px solid var(--color-text-inverse);
    color: var(--color-text-inverse);
    background-color: var(--color-primary-500);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.header .nav-menu-btn:hover {
    color: var(--color-primary-500);
    background-color: var(--color-text-inverse);
}

.header a {
    text-decoration: none;
    color: var(--color-text-inverse);
}

.header .nav-container {
    position: fixed;
    top: 70px;
    width: 90%;
    left: -100%;
    transform: translateX(-50%);
    border-radius: 12px;
    background-color: var(--color-primary-500);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.nav-container.nav-open {
    left: 50%;
}

.header .nav-container .nav-item {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px;
    margin: 0 1rem;
    color: all 0.3s ease-in-out;
}

.header .nav-container .nav-item:hover {
    color: var(--color-text-primary);
}

.nav-item.active {
    border-bottom: 3px solid var(--color-text-inverse);
}

.header .search-container {
    display: none;
}

.header .profile-container {
    display: flex;
    gap: 1.4rem;
}

.profile-container .nav-btn {
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 660px) {
    .header .nav-container {
        position: static;
        transform: none;
        display: flex;
        flex-direction: row;
        box-shadow: none;
        width: auto;
    }

    .header .nav-menu-btn {
        display: none;
    }

    .header {
        height: 65px;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 77px;
    }
}
