.course-card{
    width: 250px;
    margin: 10px;
    background-color: var(--color-surface);
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(0,0,0,0.3);
    transition: all 0.2s ease-in;
}

.course-card:hover{
    box-shadow: 0px 0px 12px rgb(0,0,0,0.4);
    transform: translateY(-3px);

}

.course-card .course-card-img-layer{
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 130px;
    overflow: hidden;
}

.course-card .course-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-card .course-card-content{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.course-card-content .course-title{
    font-family: var(--secondery-font-family);
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-bottom: 7px;
}

.course-card-content .course-instructor{
    font-weight: 600;
    color: var(--color-text-secondary);
    margin-bottom: 5px;
}


.course-card-content .course-rating{
    font-weight: bolder;
    color: var(--color-text-secondary);
}


.course-card-content .course-price{
    font-weight: bold;
    font-size: 1.2rem;
}